networks:
  mojaloop-net:
    name: mojaloop-net

services:

  redis:
    networks:
        - mojaloop-net
    image: "redis:5.0.4-alpine"
    cap_add:
      - NET_ADMIN
    # ports:
    #   - "6379:6379"
    healthcheck:
      test: ["CMD" ,"sh", "-c", "redis-cli","ping"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  dfsp1-sdk-api-svc:
    extends:
      file: common-sdk.yml
      service: api-svc
    networks:
      - mojaloop-net
    env_file: ./config/sdk-dfsp1/api-svc.env
    command: yarn workspace @mojaloop/sdk-scheme-adapter-api-svc run start:debug
    ports:
      - "14000:4000"
      - "14001:4001"
      - "14002:4002"
      - "19221:9229"
    depends_on:
      redis:
        condition: service_healthy

  dfsp2-sdk-api-svc:
    extends:
      file: common-sdk.yml
      service: api-svc
    env_file: ./config/sdk-dfsp2/api-svc.env
    networks:
      - mojaloop-net
    ports:
      - "24000:4000"
      - "24001:4001"
      - "24002:4002"
    depends_on:
      redis:
        condition: service_healthy

  fxp1-sdk-api-svc:
    extends:
      file: common-sdk.yml
      service: api-svc
    env_file: ./config/sdk-fxp1/api-svc.env
    networks:
      - mojaloop-net
    ports:
      - "44000:4000"
      - "44001:4001"
      - "44002:4002"
    depends_on:
      redis:
        condition: service_healthy

  ttk-dfsp1:
    networks:
        - mojaloop-net
    image: mojaloop/ml-testing-toolkit:v18.7.4
    container_name: ttk-dfsp1
    user: root
    volumes:
      - "./config/ttk-dfsp1/spec_files:/opt/app/spec_files"
      - "./config/ttk-dfsp1/environments:/opt/app/examples/environments"
    ports:
      - "14040:4040"
      - "15050:5050"
    environment:
      - AUTH_ENABLED=FALSE
    command: npm start
    healthcheck:
      test: ["CMD-SHELL", "nc localhost 4040"]
      interval: 5s
      timeout: 10s
      retries: 3

  ttk-dfsp1-ui:
    image: mojaloop/ml-testing-toolkit-ui:v16.1.1
    ports:
      - "16060:6060"
    networks:
      - mojaloop-net
    environment:
      - API_BASE_URL=http://localhost:15050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh
    profiles:
      - debug

  ttk-dfsp2:
    networks:
        - mojaloop-net
    image: mojaloop/ml-testing-toolkit:v18.7.4
    container_name: ttk-dfsp2
    user: root
    volumes:
      - "./config/ttk-dfsp2/spec_files:/opt/app/spec_files"
    ports:
      - "24040:4040"
      - "25050:5050"
    environment:
      - AUTH_ENABLED=FALSE
    command: npm start

  ttk-dfsp2-ui:
    image: mojaloop/ml-testing-toolkit-ui:v16.1.1
    ports:
      - "26060:6060"
    networks:
      - mojaloop-net
    environment:
      - API_BASE_URL=http://localhost:25050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh
    profiles:
      - debug

  ttk-fxp1:
    networks:
        - mojaloop-net
    image: mojaloop/ml-testing-toolkit:v18.7.4
    container_name: ttk-fxp1
    user: root
    volumes:
      - "./config/ttk-fxp1/spec_files:/opt/app/spec_files"
    ports:
      - "44040:4040"
      - "45050:5050"
    environment:
      - AUTH_ENABLED=FALSE
    command: npm start

  ttk-fxp1-ui:
    image: mojaloop/ml-testing-toolkit-ui:v16.1.1
    ports:
      - "46060:6060"
    networks:
      - mojaloop-net
    environment:
      - API_BASE_URL=http://localhost:45050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh
    profiles:
      - debug

  ttk-hub:
    networks:
        - mojaloop-net
    image: mojaloop/ml-testing-toolkit:v18.7.4
    container_name: ttk-hub
    user: root
    volumes:
      - "./config/ttk-hub/spec_files:/opt/app/spec_files"
      - "./config/ttk-hub/environments:/opt/app/examples/environments"
    ports:
      - "54040:4040"
      - "55050:5050"
    environment:
      - AUTH_ENABLED=FALSE
    command: npm start

  ttk-hub-ui:
    image: mojaloop/ml-testing-toolkit-ui:v16.1.1
    ports:
      - "56060:6060"
    networks:
      - mojaloop-net
    environment:
      - API_BASE_URL=http://localhost:55050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh
    profiles:
      - debug

  core-connector1:
    image: mojaloop/mtn-ug-core-connector:v1.22.0
    env_file: ./config/core-connector1/config.env
    networks:
      - mojaloop-net
    ports:
      - "13003:3003"
      - "13004:3004"

  core-connector2:
    image: mojaloop/mtn-ug-core-connector:v1.22.0
    env_file: ./config/core-connector2/config.env
    networks:
      - mojaloop-net
    ports:
      - "23003:3003"
      - "23004:3004"
